<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE configuration
            PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
            "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
    <typeAliases>
		<typeAlias type="com.amorepacific.mall.tuple.CategoryTuple" alias="CategoryTuple"/>
		<typeAlias type="com.amorepacific.mall.tuple.ProductTuple" alias="ProductTuple"/>
		<typeAlias type="com.amorepacific.mall.criteria.ProductCriteria" alias="ProductCriteria"/>
		<typeAlias type="com.amorepacific.mall.criteria.CategoryCriteria" alias="CategoryCriteria"/>
	</typeAliases>
        <mappers>
            <mapper resource="mybatis-mapper/CategoryMapper.xml"/>
            <mapper resource="mybatis-mapper/ProductMapper.xml"/>
        </mappers>   
      
    </configuration>
    
